.site {
    font-size: 12px;
    background-color: $sombre;
    gap: 2px;
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
        "sidebar"
        "header"
        "main"
        "footer";

    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 1rem;
        padding: 1rem;

        &__titre {
            font-size: 5rem;
            width: 100%;
        }
    }

    @media screen and (min-width: $largeur__media-tablette) {
        grid-template-columns: ($size__site-sidebar) auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }

    @media screen and (min-width: $largeur__media-desktop) {
        
    }
}

.site__header{
    grid-area: header;
}
.site__barre{
    grid-area: sidebar;
}
.site__main{
    grid-area: main;
}
.site__footer{
    grid-area: footer;
}