$sombre: black;
$clair: white;
$texte-sombre: black;
$texte-clair: white;
$alternative: gray;
$accents: rgb(255, 111, 0);
$accents__estompe: rgb(255, 184, 129);

$ombre-petite: 2.5px 2.5px 5px rgba(0, 0, 0, .5);