/* ===== GLOBAL ===== */
$color__background-selection: rgb(255, 111, 0); 

/* ===== ÉLÉMENTS PRINCIPAUX ===== */
$color__background-body:  black;
$color__background-main: white;
$color__background-barre: white;

/* --- Header --- */
$color__background-header: black;
$color__text-header__principal: rgb(255, 111, 0);
$color__text-header__secondaire: white;

/* --- Footer --- */
$color__background-footer: gray;
$color__text-footer: black;

/* ===== ÉLÉMENTS SECONDAIRES ===== */
/* --- Carte --- */
$color__background-carte:  lightgray;
$color__text-carte: black;
$color__text-carte__titre: rgb(255, 111, 0);
$color__background-carte__titre: black;

/* ===== LIENS ===== */
$color__link: black; 
$color__link-visited: gray; 
$color__link-hover: white;
$color__background-link-hover: rgb(255, 111, 0);