$jaune: rgb(255, 225, 0);
$bleu: rgb(0, 107, 126);
$alternative: rgb(0, 107, 126);
$rose: rgb(255, 184, 209);

$ombre-petite: 2.5px 2.5px 5px rgba(0, 0, 0, .5);

/* --- Éléments principaux --- */
/* Site */
$clr-fond__select: $rose;
$clr-text__select: $bleu;

/* Header */
$clr-fond__hdr: $jaune;
$clr-titre__hdr: $rose;
$clr-texte__hdr: $bleu;

$clr-lien__hdr: $rose;
$clr-lien-hover__hdr: $bleu;
$clr-lien-visite__hdr: $rose;

/* Footer */
$clr-fond__ftr: $jaune;
$clr-texte__ftr: $bleu;
$clr-titre__ftr: $rose;
$clr-lien__ftr: $bleu;
$clr-lien-visite__ftr: $alternative;
$clr-lien-hover__ftr: $rose;

$clr-fond__ftr-cln: $bleu;
$clr-texte__ftr-cln: $jaune;
$clr-titre__ftr-cln: $rose;
$clr-lien__ftr-cln: $jaune;
$clr-lien-visite__ftr-cln: $alternative;
$clr-lien-hover__ftr-cln: $rose;

/* Navigation */
$clr-fond__nav: $bleu;
$clr-lien__nav: $jaune;
$clr-lien-visite__nav: $alternative;
$clr-lien-hover__nav: $rose;

/* Main */
$clr-fond__main: $bleu;
$clr-texte__main: $jaune;
$clr-titre__main: $jaune;
$clr-lien__main: $jaune;
$clr-lien-visite__main: $alternative;
$clr-lien-hover__main: $rose;

/* --- Éléments de contenu --- */
/* Carte */
$clr-fond__crt: $bleu;
$clr-texte__crt: $jaune;
$clr-titre__crt: $jaune;
$clr-lien__crt: $jaune;
$clr-lien-visite__crt: $alternative;
$clr-lien-hover__crt: $rose;
