.boite-modale {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    padding: 2em;
    font-size: 1.35em;

    @media screen and (min-width: $largeur__media-tablette) {
        width: 50vw;
        height: 50vh;
        top: 25vh;
        left: 25vw;
    }

    z-index: 100;

    @include genererTheme($overlay__couleurs);

    transition: all .5s ease-in-out;

    transform: scaleY(0);

    &--ouverte {
        transform: scaleY(1);
    }

    &__texte {

    }
}