.boite-modale {
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    z-index: 100;

    @include genererTheme($overlay__couleurs);

    transition: all .5s ease-in-out;

    transform: scaleY(0);

    &--ouverte {
        transform: scaleY(1);
    }
}