.site__main {
    display: flex;
    flex-wrap: wrap;
    background-color: $color__background-main;
    justify-content: space-evenly;
    row-gap: 1rem;
    padding: 1rem;
}

.main__titre {
    font-size: 2rem;
    width: 100%;
    display: block;

}

.carte {
    display: flex;
    flex-direction: column;

    /* Largeur adaptative */
    /* Mobile */
    width: 100%;

    /* Tablettes */
    @media screen and (min-width: $largeur__media-tablette) {
        width: 45%;
    }

    /* Desktop */
    @media screen and (min-width: $largeur__media-desktop) {
        width: 30%;
    }

    padding: 10px;

    background-color: $color__background-carte;
    color: $color__text-carte;

    .carte__sigle {
        font-weight: bold;
        text-decoration: underline;
    }

    .carte__titre {
        font-size: 1.5rem;
    }
    
    .carte__contenu {
        font-size: .8rem;
    }
}
