.site__footer {
    display: flex;
    flex-direction: column;

    background-color: $alternative;
    color: $sombre;

    .footer__desc {
        flex: 3;

        background-color: $accents;
        padding: 20px;

        &__titre {
            color: $clair;
            font-size: clamp(2em, 5vw, 4em);
        }

        &__info {

        }
    }

    &__menu {
        font-size: 2em;
        flex: 1;

        &__ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;

            li.menu-item {
                display: inline;
                
                a {
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 10px;
                    border-radius: 5px;
        
                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    > * {
        flex: 1;
    }
}