.site__footer {
    @include theme_sombre;
    
    ul {
        list-style-type: none;
    }

    & > * {
        display: flex;

        section {
            display: flex;
            flex: 1;
        }
    }

    &__colonne {
        justify-content: space-between;
        flex-direction: row;

        a {
            @include lien(	
                $sombre, 
                $accents, 
                $accents, 
            );
        }

        & > * {
            margin: 1em;
            padding: 1em;
            border-radius: 10px;

            @include theme_clair;
        }

        &__adresse {
            img {
                animation: rgb 1s infinite;
                filter: hue-rotate(200);
            }
        }
    }

    &__rangee {
        flex-direction: column;
        align-items: center;

        & > * {
            padding: 15px;
        }

        &__menu {
            &__ul {
                .menu-item {
                    a {
                        display: flex;
                        align-items: center;
    
                        svg {
                            margin-right: .5em;
                        }
                    }
                }
            }
        }

        &__sociaux {
            .sidebar {
                .widget {
                    ul {
                        display: flex;
                        gap: 15px;

                        li {
                            a {
                                @include lien (
                                    unset,
                                    transparent,
                                    unset
                                )
                            }
                        }
                    }
                }
            }
        }
    }
}