.site__footer {
    display: flex;

    background-color: $color__background-footer;
    color: $color__text-footer;

    .footer__desc {
        flex: 3;

        background-color: rgb(255, 111, 0);
        padding: 20px;

        &__titre {
            color: white;
            font-size: clamp(2em, 5vw, 4em);
        }

        &__info {

        }
    }

    &__menu {
        flex: 1;

        &__ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;

            li.menu-item {
                display: inline-block;
                
                a {
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 10px;
                    border-radius: 5px;
        
                    svg {
                        color: white;
                        margin-right: 5px;
                    }
                }

                // li.menu-item
                &:hover {
                    a {
                        color: black;

                        svg {
                            color: black;
                        }
                    }
                }
            }
        }
    }

    > * {
        flex: 1;
    }
}