.home {
    &__titre {
        animation: titre 5s infinite linear;
        display: inline;
    }
}

@keyframes titre {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(30%, 0);
    }
    50% {
        transform: translate(30%, 100%);
    }
    75% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}