@use "sass:maps";

.site__header {
    @include genererTheme($header__couleurs);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    @media screen and (min-width: $largeur__media-tablette) {
        flex-direction: row;
    }

    &__titre {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        h1, h2 {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        a {
            // Annuler les styles de la mixin @lien
            &, &:hover {
                border: none;
            }

            h1 {
                animation: glisser-arrivee__hdr 3s forwards ease-in;
            }
        }

        h2 {
            animation: changer-couleur__clair 1s infinite;
        }
    } 

    &__utilitaires {
        z-index: 10;

        // Fonctionnement du menu burger grâce à la checkbox
        #site__header__utilitaires__menu-checkbox:checked ~ &__menu {
            transform: translate(0);
        }

        [for="site__header__utilitaires__menu-checkbox"] {
            @include burger(
                15px,
                unset,
                unset,
                15px,

                $header__couleurs
            );
        }

        &__menu {
            @include genererTheme($navigation__couleurs);
            @include ombre--petite($navigation__couleurs);
            
            transform: translateX(100%);
            transition: transform .5s;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            position: fixed;
            right: 0;
            padding: 1em;
            border-radius: 10px 0 0 10px;
        }
    }
}

.icone {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $largeur__media-tablette) {
        flex-direction: row;
    }

    margin: 20px 0;  
}