.site__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include theme(
        $clr-fond__main,
        $clr-texte__main,
        $clr-titre__main,
        $clr-lien__main,
        $clr-lien-visite__main,
        $clr-lien-hover__main
    );

    &__titre {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}
