nav.menu-principal-container {
    @include genererTheme($navigation__couleurs);

    padding: 15px;
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0px;
    left: 0px;
    transform: translateX(-100vw);
    transition: transform .5s ease-in-out;

    @media screen and (min-width: $largeur__media-tablette) {
        width: 30vw;
    }

    ul.menu {
        list-style: none;
        
        li.menu-item {
            margin: 0;

            @include elargir(.1s, 1.25, true);

            a {
                padding: 5px;
                text-decoration: none;
                font-family: $font__sous-titre;
            }
        }
    }
}

.burger__etiquette[for="site__barre__menu-principal-container-checkbox"] {
	@include burger(
		15px,
		15px,
		unset,
		unset,

		$header__couleurs
	)
}

#site__barre__menu-principal-container-checkbox {
    @include changer-icone;
}