$largeur__icone-ouverture: 75px;

.site__header{
    &__navigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        /**
         * Mettre en position relative pour permettre à la navigation de mieux
         * se positionner avec son position absolute (pas nécessaire en mobile)
         */
        @media screen and (min-width: $largeur__media-tablette) {
            position: relative;
            gap: 20px;
        }

        &__menu {
            width: 100%;

            &:hover {
                .site__header__navigation__menu__nav {
                    display: block;
                }
            }

            &__nav {
                width: 100vw;
                left: 0;
                position: absolute;
                display: none;
                border-radius: 5px;

                @include genererTheme($navigation__couleurs);

                @media screen and (min-width: $largeur__media-tablette) {
                    left: unset;
                    right: $largeur__icone-ouverture;
                    bottom: 0;
                    width: 20vw;
                }

                .menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    list-style-type: none;
                    padding: 0;
                    margin: 0 2rem;

                    .menu-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include elargir__hover(.1s, 1.25);

                        a {
                            display: block;
                            height: 100%;
                            text-align: center;
                            font-family: $font__sous-titre;
                            font-size: 1.5em;
                        }
                    }
                }
            }

            &__ouverture {
                @include bouton-rond($header__couleurs);

                display: inline-flex;
                justify-content: center;
                align-items: center;

                width: $largeur__icone-ouverture;
                height: 75px;

                cursor: context-menu;

                &:hover {
                    animation: brasser 1s infinite;
                }
            }
        }
    }
}