$largeur__icone-ouverture: 75px;
$bordure__faux-espacement: 2rem solid map-get($header__couleurs, 'fond');

.site__header{
    &__navigation {
        display: flex;
        justify-content: flex-end;

        position: relative;

        @media screen and (min-width: $largeur__media-tablette) {
            flex-direction: column;
            gap: 20px;
        }

        &__menu {
            flex: 1;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                .site__header__navigation__menu__nav {
                    display: block;
                }
            }

            &__nav {
                width: 110vw;
                top: 100%;
                left: -2rem;
                position: absolute;
                display: none;
                border-top: $bordure__faux-espacement;

                @include genererTheme($navigation__couleurs);

                @media screen and (min-width: $largeur__media-tablette) {
                    left: unset;
                    right: $largeur__icone-ouverture;
                    top: 0;
                    bottom: 0;
                    border-top: unset;
                    border-right: $bordure__faux-espacement;
                    width: 20vw;
                }

                .menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    list-style-type: none;
                    padding: 0;
                    margin: 2rem 0;

                    height: 75%;

                    .menu-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include elargir(.1s, 1.25, true);

                        a {
                            display: block;
                            height: 100%;
                            text-align: center;
                            font-family: $font__sous-titre;
                            font-size: 1.5em;
                        }
                    }
                }
            }

            &__ouverture {
                @include bouton--rond($header__couleurs);

                display: inline-flex;
                justify-content: center;
                align-items: center;

                width: $largeur__icone-ouverture;
                height: 75px;

                cursor: context-menu;

                &:hover {
                    animation: brasser 1s infinite;
                }
            }
        }
    }
}