form.recherche {
    position: relative;
    display: flex;
    align-items: center;

    &__input {
        outline: none;
        width: 100%;
        padding: 1em;
    }

    &__bouton {
        position: absolute;
        width: 1em;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
    }
}