@mixin boite() {
    position: fixed;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    @media screen and (min-width: $largeur__media-tablette) {
        width: 50vw;
        height: unset;
        top: 25vh;
        left: 25vw;
    }

    padding: 2em;
    font-size: 1.35em;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    z-index: 100;

    @include genererTheme($overlay__couleurs);

    transition: all .5s ease-in-out;

    transform: scaleY(0);

    &--ouverte {
        transform: scaleY(1);
    }

    &__contenu {
        width: 100%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    &__bouton {
        &__fermer {
            @include bouton--rond($overlay__couleurs);
            cursor: pointer;
            display: block;
        }   
    }

    &__navigation {
        width: 100%;

        display: flex;
        justify-content: space-between;

        &__bouton {
            @include bouton--texte($overlay__couleurs, 1em, false);

            p {
                margin: 0;
            }
        }
    }
}