@mixin boite() {
    position: fixed;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    @media screen and (min-width: $largeur__media-tablette) {
        width: 40vw;
        left: unset;
        right: 0;
    }

    font-size: 1.35em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 100;

    @include genererTheme($overlay__couleurs);

    transition: all .5s ease-in-out;

    transform: scaleY(0);

    &--ouverte {
        transform: scaleY(1);
    }

    &__contenu {
        width: 100%;
        height: 100%;

        &__images {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__texte {
            padding: 2em;
        }
    }

    &__bouton {
        &__fermer {
            @include bouton--rond($overlay__couleurs, 1em);
            cursor: pointer;
            display: block;
        }   
    }

    &__navigation {
        width: 100%;

        display: flex;
        justify-content: space-between;

        &__bouton {
            width: 100%;
            @include bouton--pleine-largeur($overlay__couleurs, 1em);

            p {
                margin: 0;
            }
        }
    }
}