@use "sass:maps";

@mixin bouton-rond($theme) {
    background-color: map-get($theme, "fond");
    border-radius: 50%;
    border: 2px solid map-get($theme, "bordure");

    svg {
        color: map-get($theme, "icone");
    }

    &:hover {
        background-color: map-get($theme, "icone");
        
        svg {
            color: map-get($theme, "fond");
        }
    }
}

@mixin burger (
	$position-haut,
	$position-gauche,
	$position-bas,
	$position-droite,

	$theme
) {
	cursor: pointer;
	position: fixed;
	z-index: 100;
	top: $position-haut;
	left: $position-gauche;
	bottom: $position-bas;
	right: $position-droite;

	padding: 10px;
	border-radius: 50%;

	& ~ .burger__checkbox {
		display: none;
    }
    
    &:focus,
    &:active,
    &:hover {
        animation: brasser 1s infinite;
    }

    @include bouton-rond($theme);
}
