@mixin carte(
    $theme,
    $taille-texte, 
    $flex-direction, 
    $utiliserBoiteModale,
    $etiquettes...
) {
    @include genererTheme($theme);
    
    font-size: $taille-texte;
    display: flex;
    flex-direction: #{$flex-direction};
    justify-content: space-between;
    gap: 20px;
    padding: clamp(1rem, 1vw, 2rem);
    border-radius: 10px;
    max-width: 80vw;

    /* Largeur adaptative */
    // Mobile
    width: 100%;

    // Tablettes
    @media screen and (min-width: $largeur__media-tablette) {
        width: 45%;
    }

    // Desktop
    @media screen and (min-width: $largeur__media-desktop) {
        width: 30%; 
    }

    &__etiquettes {
        display: flex;
        gap: 1em;

        @each $etiquette in $etiquettes {
            &__#{$etiquette} {
                @include etiquette(
                    1em,
                    $theme,
                    false
                )
            }
        }
    }

    &__titre {
        width: 100%;
        font-size: clamp(1em, 2vw, 3em);

        @media screen and (min-width: $largeur__media-tablette) {
            font-size: clamp(1.5em, 3vw, 3.5em);
        }

        @include elargir(.1s, 1.25, true);

        & > * {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    &__miniature {
        @include filtre(map-get($theme, "icone"));
        height: 10em;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__desc {
        @if ($utiliserBoiteModale) {
            &__contenu {
                display: none;
            }
        }

        &__bouton {
            @include bouton--texte($theme, 1em, true);
        }
    }
}