@use "sass:maps";

@mixin etiquette ($taille-texte, $theme, $estCliquable) {
    font-weight: bold;
    text-decoration: none;
    font-size: $taille-texte;

    display: inline;
    background-color: map-get($theme, "icone");
    color: map-get($theme, "fond");
    padding: 10px;
    border-radius: 5px;

    p, a, h1, h2, h3, h4, h5, h6 {
        color: map-get($theme, "fond");
        margin-block-start: 0;
        margin-block-end: 0;
    }

    @if ($estCliquable) {
        &:hover {
            background-color: map-get($theme, "hover");

            p, a, h1, h2, h3, h4, h5, h6 {
                color: map-get($theme, "texte");
            }
        }
    }
}