@use "sass:maps";

@mixin etiquette ($taille-texte, $theme) {
    font-weight: bold;
    text-decoration: none;
    font-size: $taille-texte;
    margin: 1em 0;

    display: inline;
    background-color: map-get($theme, "icone");
    color: map-get($theme, "fond");
    padding: 10px;
    border-radius: 5px;
    @include ombre--petite($theme);

    & > * {
        display: inline;
        background-color: map-get($theme, "icone");
        color: map-get($theme, "fond");
        padding: 10px;
        border-radius: 5px;
        @include ombre--petite($theme);
    }
}