@mixin links($color, $color-visited, $color-hover, $color__background-hover) {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	color: $color;
	box-sizing: border-box;
	border: 2px solid transparent;

	&:visited {
		color: $color-visited;
		opacity: .8;

		svg {
			color: $color-visited;
		}
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-hover;
		background-color: $color__background-hover;
		border-radius: 5px;
		border: 2px solid $color-hover;

		svg {
			color: $color-hover;
			background-color: $color__background-hover;
		}
	}

	svg {
		color: $color;
	}
}

a {
	@include links(	
		$sombre, 
		$sombre, 
		$clair, 
		$accents);
}

.site__header a {
	@include links(
		$accents,
		$accents,
		$clair,
		$sombre
	)
}

.site__footer a {
	@include links(	
		$clair, 
		$sombre, 
		$clair, 
		$accents);
}

.carte a {
	@include links(
		$sombre,
		$alternative,
		$accents,
		$clair
	)
}

