@mixin theme($clr-fond, $clr-texte, $clr-titre, $clr-lien, $clr-lien-visite, $clr-lien-hover) {
    background-color: $clr-fond;
    color: $clr-texte;

    h1,
    h2,
    h3 {
        color: $clr-titre;
    }

    h4,
    h5,
    h6,
    p {
        color: $clr-texte;
    }

    a {
        @include lien(
            $clr-lien,
            $clr-lien-visite,
            $clr-lien-hover
        )
    }

    svg & {
        color: $clr-fond;
    }
}

@mixin theme_clair () {
    @include theme(
        $jaune,
        $bleu,
        $bleu,
        $bleu,
        $bleu,
        $bleu
    )
}

@mixin theme_sombre () {
    @include theme(
        $bleu,
        $jaune,
        $rose,
        $rose,
        $jaune,
        $rose
    )
}